
/* MAIN BODY */

body {
    margin : 0;
    padding : 0;
    text-align : justify;
    font : 75% "Trebuchet MS", verdana, arial, sans-serif;
    line-height : 1.5em;
    background : #B8E2F5 url(img/bg.png) top center repeat-y;
    color : #000;
}


/* WRAPPER */

#wrapper {
    position : relative;
    width : 760px;
    margin-left: auto;
    margin-right: auto;
    padding : 0;
    border : 0px solid #1A6183;
    background : #fff;
}


/* TITLE BAR */

#title {
    width: 760px;
    text-align : right;
    background : #fff;
    color : #000;
}

#title h1 {
    margin : 0;
    padding : 10px;
    font-size : 175%;
    text-transform : uppercase;
    letter-spacing : 2px;
    background : inherit;
    color : #4D9DC2;
}


/*TITLE BANNER*/

#header {
    width : 745px;
    height : 200px;
    margin-left : 5px;
    margin-right : 5px;
}


/* NAVIGATION */

.container {
    width : 750px;
    height : 35px;
    margin : 20px 0 10px 5px;
}


/* POINTER */

#navCircle {
    margin : 0;
    padding : 0 0 20px 20px;
    border-bottom : 1px solid #1A6183;
}

#navCircle li {
    margin : 0;
    padding : 0;
    display : inline;
    list-style-type : none;
}

#navCircle a:link, #navCircle a:visited {
    float : left;
    font-size : 1.3em;
    padding : 0 25px 15px 25px;
    text-decoration : none;
    background : inherit;
    color : #4D9DC2;
}

#navCircle a:link.active, #navCircle a:visited.active, #navCircle a:hover {
    background-color : inherit;
    color : #1A6183;
    background : url(img/pointer.png) no-repeat bottom center;
}


/* PAGE FORMAT */

#content1 {
    width : 560px;
    float : left;
    margin-top : 0;
    margin-left : 95px;
    padding : 5px;
}

#content1 p {
    padding : 0 20px;
}

#content2 {
    width : 300px;
    float : left;
    text-align: center;
    margin-top : 0;
    margin-left : 230px;
    padding : 5px;
}

#content2 p {
    padding : 0 20px;
}

#divider {
    margin : 0;
    padding : 0 0 20px 20px;
    border-bottom : 1px solid #1A6183;
}


/* FOOTER */

#footer {
    position: fixed;
    bottom: 0;
    width: 740px;
    padding : 10px;
    font : 90% "Trebuchet MS", verdana, arial, sans-serif;
    text-align: center;
    background : #1A6183;
    color : #fff;
}


/* TEXT */

h2 {
    margin : 20px;
    font-size : 140%;
    text-transform : uppercase;
    letter-spacing : 2px;
    background : inherit;
    color : #4D9DC2;
}

h3 {
    margin : 5px;
    font-size : 120%;
    letter-spacing : 2px;
    background : inherit;
    color : #4D9DC2;
}

h4 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0px;
}


/*LINKS*/

a:link, a:visited {
    text-decoration : none;
    background : inherit;
    color : #1A6183;
}

a:hover {
    text-decoration : underline;
    background : inherit;
    color : #B9E2F5;
}


/* IMAGES */

.gallery {
    float: left;
    width: 244px;
    padding: 1px;
    margin-left : 5px;
    margin-bottom : 5px;
}

.imgleft {
    float : left;
    width: 130px;
    border : 1px solid #1A6183;
    padding : 5px;
    margin-right : 15px;
}

.imgright {
    float : right;
    width: 130px;
    border : 1px solid #1A6183;
    padding : 5px;
    margin-left : 15px;
}